.inputContainer{
    height: 65px;
    width: 550px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

form{
    display:flex;
    align-items: center;
}

.taskInput{
    width: 450px;
    height: 30px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    outline: none;
    font-size: 18px;
}

@media only screen and (max-width:600px ){
  .inputContainer{
    width: 80vw;
  }
  
  
    .taskDisplay{
    width: 80vw;
  }
}