.taskDisplay {
    margin-top: 20px;
    width: 550px;
    height: 450px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 10px 65px 60px hsl(236, 33%, 92%);
}

.todoDisplay{
    width: 450px;
    height: 30px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    outline: none;
    font-size: 18px;
}