.taskDisplay {
  margin-top: 23px;
  width: 550px;
  height: auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 10px 65px 60px hsl(236, 33%, 92%);
}

.todoList {
  width: 450px;
  height: 64px;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  border: 0;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
  border-bottom:1px solid hsl(236, 33%, 92%);
}

.todoText{
    margin-left: 15px;
}

.checkComplete{
    opacity: 0;
}


.checkboxSpan{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-left: 15px;
}


input:checked + span{
    background-image:url(../../assests/icon-check.svg),linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

input:checked + .todoText{
    text-decoration: line-through;
}