body, html{
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

.backGround{
    background-image: url(./assests/bg-desktop-light.jpg);
    width:100vw;
}