.header{
    width: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modeToggle{
    background-image: url('../../assests/icon-moon.svg');
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.header h1{
    color: white;
}